Repository avtocod/specs, pull requests merged in 2018-11, with the labels that each got.

#17 Add new taxi fields
  CHANGELOG.md
  fields/default/examples/empty.json
  fields/default/examples/full.json
  fields/default/fields_list.json
Labels: add field

#20 v2.7.0 - Add new fields
  CHANGELOG.md
  README.md
  fields/default/examples/empty.json
  fields/default/examples/full.json
  fields/default/fields_list.json
Labels: add field

#23 Added new fields
  CHANGELOG.md
  fields/default/examples/empty.json
  fields/default/examples/full.json
  fields/default/fields_list.json
Labels: add field

#24 v2.8.0
  CHANGELOG.md
  fields/default/examples/empty.json
  fields/default/examples/full.json
  fields/default/fields_list.json
Labels: add field

#26 V2
  CHANGELOG.md
  fields/default/examples/empty.json
  fields/default/examples/full.json
  fields/default/fields_list.json
Labels: add field

#29 v2.9.0
  CHANGELOG.md
  fields/default/examples/empty.json
  fields/default/examples/full.json
  fields/default/fields_list.json
Labels: add field

#30 v2.10.0
  CHANGELOG.md
  README.md
  sdk/php/src/Specifications.php
  sdk/php/src/Structures/VehicleMark.php
  sdk/php/src/Structures/VehicleModel.php
  sdk/php/tests/SpecificationsTest.php
  sdk/php/tests/Structures/VehicleMarkTest.php
  sdk/php/tests/Structures/VehicleModelTest.php
  vehicles/default/marks.json
  vehicles/default/models.json
Labels: add mark & model, enhancement

#32 V2
  CHANGELOG.md
  README.md
  sdk/php/src/Specifications.php
  sdk/php/src/Structures/VehicleMark.php
  sdk/php/src/Structures/VehicleModel.php
  sdk/php/tests/SpecificationsTest.php
  sdk/php/tests/Structures/VehicleMarkTest.php
  sdk/php/tests/Structures/VehicleModelTest.php
  vehicles/default/marks.json
  vehicles/default/models.json
Labels: add mark & model, enhancement

#35 Travis config added
  .codecov.yml
  .editorconfig
  .gitattributes
  .github/stale.yml
  .scrutinizer.yml
  .travis.yml
  CHANGELOG.md
  README.md
  composer.json
  sdk/php/src/Specifications.php
  sdk/php/src/Structures/AbstractStructure.php
  sdk/php/src/Structures/Field.php
  sdk/php/src/Structures/IdentifierType.php
  sdk/php/src/Structures/Source.php
  sdk/php/src/Structures/VehicleMark.php
  sdk/php/src/Structures/VehicleModel.php
  sdk/php/tests/AbstractTestCase.php
  sdk/php/tests/SpecificationsTest.php
Labels: SDK

#36 Change CI
  .codecov.yml
  .editorconfig
  .gitattributes
  .github/stale.yml
  .scrutinizer.yml
  .travis.yml
  CHANGELOG.md
  README.md
  composer.json
  sdk/php/src/Specifications.php
  sdk/php/src/Structures/AbstractStructure.php
  sdk/php/src/Structures/Field.php
  sdk/php/src/Structures/IdentifierType.php
  sdk/php/src/Structures/Source.php
  sdk/php/src/Structures/VehicleMark.php
  sdk/php/src/Structures/VehicleModel.php
  sdk/php/tests/AbstractTestCase.php
  sdk/php/tests/SpecificationsTest.php
Labels: SDK, enhancement
